/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  /*font-family: 'Roboto', sans-serif;*/
    /*font-family: "Merriweather", serif;*/
    /*font-family: "Bree Serif", serif;*/
    /*font-family: 'Roboto Flex', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    /*font-size: large;*/
}
    
.blog-header-logo:hover {
  text-decoration: none;
}

body {
  /*font-family: sans-serif*/
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Roboto', sans-serif;*/
  /*  font-family: "Merriweather", serif;*/
    /*font-family: "Bree Serif", serif;*/
   /* font-family: 'Roboto Flex', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/* CSS by me */
 
.nav-font {
     font-family: 'Roboto', sans-serif;
}

.link-secondary:hover {
    text-decoration: none;
}
/******/

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/******** CSS for social media icons **********/

.stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

.card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #3da5f;
     border-radius: 0
 }

 .card .card-body {
     padding: 1.25rem 1.75rem
 }

.card .card-title {
     color: #000000;
     margin-bottom: 0.625rem;
     text-transform: capitalize;
     font-size: 0.875rem;
     font-weight: 500
 }

 .card .card-description {
     margin-bottom: .875rem;
     font-weight: 400;
     color: #76838f
 }
.btn.btn-social-icon{
    width: 50px;
    height: 50px;
    padding: 0;
}
.template-demo > .btn{
    margin-right: 0.5rem !important;
}


.template-demo{
    margin-top: 0.5rem !important;
}

.btn.btn-rounded {
    border-radius: 50px;
}


.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d;
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff;
}

.btn-outline-youtube {
    border: 1px solid #e52d27;
    color: #e52d27;
}

.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1;
}

.btn-outline-dribbble {
    border: 1px solid #ea4c89;
    color: #ea4c89;
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5;
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38;
}

.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff;
}


.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff;
}

.btn-outline-youtube:hover {
    background: #e52d27;
    color: #ffffff;
}

.btn-outline-instagram:hover{
    background: #e52d27;
    color: #ffffff;
}

/*Button cover*/

.btn-facebook {
    background: #3b579d;
    color: #ffffff;
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff;
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff;
}
.btn-dribbble {
    background: #ea4c89;
    color: #ffffff;
}
.btn-linkedin {
    background: #0177b5;
    color: #ffffff;
}
.btn-instagram {
    background: #dc4a38;
    color: #ffffff;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #2d4278;
    color: #ffffff;
}

.btn-youtube:hover, .btn-youtube:focus {
    background: #c21d17;
    color: #ffffff;
}
.btn-twitter:hover, .btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff;
}
.btn-dribbble:hover, .btn-dribbble:focus {
    background: #e51e6b;
    color: #ffffff;
}

.btn-linkedin:hover, .btn-linkedin:focus {
    background: #015682;
    color: #ffffff;
}

.btn-instagram:hover, .btn-instagram:focus {
    background: #bf3322;
    color: #ffffff;
}

.bg-color-side {
    background:#B0C4B1;
}
